/**
 * Styles pour le widget logo
 */

/* Logo */
.logo {
    height: 48px;
}

.logo-text {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 16px;
    margin-right: auto;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}